.main-wrapper-collection-regular {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 30px;
    padding: 20px;
    background-color: #fff;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
}


.col-title-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #555555;
    text-transform: uppercase;
}

.col-title-text-car {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #292929;
    text-transform: uppercase;
}

.cars-details {
    padding: 20px 0px;
    border-top: 1px solid #5555551e;
}

.col-4,
.col-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 30px;
}

.CarLogo {
    width: 15%;
}

.icon-button {
    background-color: #fff;
    border-radius: 50px;
    /* Green background */
    border: 0.5px solid #00000044;
    /* No border */
    color: #000;
    /* White text */
    padding: 5px 32px;
    /* Some padding */
    text-align: center;
    /* Centered text */
    text-decoration: none;
    /* No underline */
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;

    cursor: pointer;
    /* Mouse pointer on hover */
}

.icon-button:hover {
    background-color: #4BD7FB;
    border-radius: 50px;
    /* Green background */
    border: 0.5px solid #4BD7FB;

    /* Mouse pointer on hover */
}

.fa-play {
    margin-left: 20px;
}

.flexend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}
@media only screen and (min-device-width: 480px) and (orientation: portrait) {
  

    .icon-button {

        font-size:6px;
        font-weight: 700;
        padding: 10px 20px;
        cursor: pointer;
        /* Mouse pointer on hover */
    }

   
}
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    .col-title-text {
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 500;
        color: #555555;
        text-transform: uppercase;
    }

    .col-title-text-car {
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 700;
        color: #292929;
        text-transform: uppercase;
    }

    .icon-button {

        font-size: 5px;
        font-weight: 700;
        padding: 5px 10px;
        cursor: pointer;
        /* Mouse pointer on hover */
    }
        .main-wrapper-collection-regular {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            border-radius: 30px;
            padding: 5px;
            background-color: #fff;
        }
}